[submodule "https/twitter.com"]
	path = https/twitter.com
	url = https://github.com/reiver/archive-twitter.com
[submodule "http/nikhilbuduma.com"]
	path = http/nikhilbuduma.com
	url = https://github.com/reiver/archive-nikhilbuduma.com
[submodule "http/biologicallydetermined.blogspot.com"]
	path = http/biologicallydetermined.blogspot.com
	url = https://github.com/reiver/archive-biologicallydetermined.blogspot.com
